[Unit]
Description=Chromium Kiosk
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/bin/start-kiosk.sh
Restart=on-failure
RestartSec=5
KillMode=mixed
TimeoutStopSec=10

[Install]
WantedBy=default.target
